body{
    background-image: url('image_background.jpg');
  
    background-attachment: scroll;
     background-size: cover;
     height: 200px;
     width: 200vh;
     background-repeat: no-repeat;
}
    

 
 
 